*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a0a0a;
  --secondary-color: #000000; /* Changed to black */
  --highlight-color: #ff4f78;
  --button-color: #ff4f78;
  --button-hover-color: #ff8c94;
  --container-bg-color: rgba(255, 255, 255, 0.05);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  transition: background-color 1s ease;
}

.bg-information-container {
  margin: 20px 0;
  padding: 20px;
  background: var(--container-bg-color);
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  width: 80%;
  max-width: 500px;
}

.btn {
  cursor: pointer;
  padding: 15px 35px;
  margin-top: 30px;
  color: var(--secondary-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease; /* Updated transition properties */
  box-shadow: 0 8px 25px rgba(255, 79, 120, 0.5);
}

.btn:hover {
  background-color: var(--button-hover-color);
  color: var(--primary-color); /* Change text color on hover */
  box-shadow: 0 8px 25px rgba(255, 79, 120, 0.5); /* Maintain box shadow */
}

#bg-hex-code {
  font-weight: bold;
  font-size: 2rem;
  color: var(--highlight-color);
  margin-top: 20px;
  animation: fadeInUp 0.5s ease;
  display: block; /* Changed to display block for proper alignment */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
